.create-btn {
    display: flex;
    align-items: center;
    border: none;
    padding: 16px;
    border-radius: 8px;
    background-color: #605ebf;
    position: sticky;
    bottom: 16px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.create-btn:hover {
    background-color: #4c49a2;
    transform: scale(1.02);
}